# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Nuxt.js build / generate output
.nuxt
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

uploads

# enviromental configuration
.env


# Developer folder for testing and scripting purpose
dev/